# Все текстовые файлы (*.h, *.cpp, *.c, *.md) в репозитории будут с LF, независимо от системы.

# На Windows при checkout Git автоматически конвертирует LF → CRLF для удобной работы.

# На Linux/macOS файлы будут с LF — всё по стандарту.

# Библиотека SDL3 тоже будет корректно обрабатываться, без лишних предупреждений после нормализации.


# Принудительно LF в репо, CRLF в Windows
* text=auto

# SDL3 и C++ файлы — просто текст
*.h text
*.cpp text
*.c text
*.md text